Application/IsWiX/Schemas/fg4_hbt_msix.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) FireGiant.  All Rights Reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
          xmlns:xse="http://wixtoolset.org/schemas/XmlSchemaExtension"
          xmlns:wxs="http://wixtoolset.org/schemas/v4/wxs"
    targetNamespace="http://www.firegiant.com/schemas/v4/wxs/heatwave/buildtools/msix"
              xmlns="http://www.firegiant.com/schemas/v4/wxs/heatwave/buildtools/msix">
  <xs:annotation>
    <xs:documentation>
      HeatWave Build Tools for MSIX schema
    </xs:documentation>
  </xs:annotation>

  <xs:import namespace="http://wixtoolset.org/schemas/v4/wxs" />

  <xs:element name="Msix">
    <xs:annotation>
      <xs:documentation>
        Metadata required to create a package.
      </xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="Package" />
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="Fragment" />
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="Module" />
      </xs:appinfo>
    </xs:annotation>

    <xs:complexType>
      <xs:attribute name="Id" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Identity of the MSIX package.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="Capabilities" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Whitespace-delimited list of required package capabilities. Valid values are:
            internetClient,
            internetClientServer,
            privateNetworkClientServer,
            allJoyn,
            codeGeneration,
            documentsLibrary,
            picturesLibrary,
            videosLibrary,
            musicLibrary,
            enterpriseAuthentication,
            sharedUserCertificates,
            userAccountInformation,
            removableStorage,
            appointments,
            contacts,
            phoneCall,
            blockedChatMessages,
            objects3D,
            voipCall,
            chat,
            phoneCallHistoryPublic,
            spatialPerception,
            backgroundMediaPlayback,
            userNotificationListener,
            remoteSystem,
            offlineMapsManagement,
            userDataTasks,
            location,
            microphone,
            proximity,
            webcam
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="Description" type="xs:string">
        <xs:annotation>
          <xs:documentation>Overrides the description provided by the 'ARPCOMMENTS' Property. It is recommended to use the 'ARPCOMMENTS' Property instead of using this attribute.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="DisplayName" type="xs:string">
        <xs:annotation>
          <xs:documentation>Overrides the display name provided by the Package/@Name. It is not recommended to use this attribute.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="MainPackage" type="xs:string">
        <xs:annotation>
          <xs:documentation>The MSIX package name (aka: Msix/@Id) of the parent package. Use this only when this package is to be referenced by a sparse bundle.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="Manufacturer" type="xs:string">
        <xs:annotation>
          <xs:documentation>Overrides the manufacturer provided by the Package/@Manufacturer. It is not recommended to use this attribute.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="MinimumSupportedOS" type="OsVersionUnion">
        <xs:annotation>
          <xs:documentation>Minimum OS version this package supports. If not specified, it will default to Windows 10 Anniversary Update for desktop packages and Windows Server 2016 for server packages.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="MaximumTestedOS" type="OsVersionUnion">
        <xs:annotation>
          <xs:documentation>Maximum OS version this package has been tested against. If not specified, it will default to the minimum OS supported.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="LogoFile" type="xs:string">
        <xs:annotation>
          <xs:documentation>Overrides the package icon provided by the 'ARPPRODUCTICON' with a path to a image file. It is recommended to use the 'ARPPRODUCTICON' Property instead of using this attribute.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="Publisher" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Publisher of the MSIX package. Must be in the form of a certificate name, e.g. CN=FireGiant.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="Target" type="TargetTypeUnion">
        <xs:annotation>
          <xs:documentation>Target device family for the MSIX package.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="Version" type="xs:string">
        <xs:annotation>
          <xs:documentation>Overrides the version provided by the Package/@Version. It is not recommended to use this attribute.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="Application">
    <xs:annotation>
      <xs:documentation>
        Defines an Application in a package. Alternative to using the Application attribute on the File element.
      </xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="Package" />
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="Fragment" />
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="Module" />
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="File" />
      </xs:appinfo>
    </xs:annotation>

    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="PreInstalledConfigTask" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Optional pre-installed config task specification.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="Tile" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Optional tile specification.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="UpdateTask" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Optional update task specification.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>

      <xs:attribute name="Id" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Identity of the Application in the MSIX package.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="Description" type="xs:string">
        <xs:annotation>
          <xs:documentation>Overrides the calculated description of the Application. This attribute is intended to be used only when a Shortcut's description must be different from the MSIX Application description.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="DisplayName" type="xs:string">
        <xs:annotation>
          <xs:documentation>Overrides the calculated display name of the Application. This attribute is intended to be used only when a Shortcut's name must be different from the MSIX Application display name.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="ExecutableFile" type="xs:string">
        <xs:annotation>
          <xs:documentation>The File/@Id of executable entry point for the MSIX Application. This attribute will default to the parent File element. Otherwise the attribute must be specified.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="Primary" type="wxs:YesNoTypeUnion">
        <xs:annotation>
          <xs:documentation>Sets the Application as the primary Application in the MSIX package. The primary Application's logo and name is visible at some places in Windows 10 instead of the MSIX package logo and name.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="Dependency">
    <xs:annotation>
      <xs:documentation>
        Metadata required to add a dependency on a package.
      </xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="Package" />
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="Fragment" />
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="Module" />
      </xs:appinfo>
    </xs:annotation>

    <xs:complexType>
      <xs:attribute name="Id" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Identity of the MSIX package to depend upon.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="MaximumMajorVersionTested" type="xs:int">
        <xs:annotation>
          <xs:documentation>An integer indicating the highest major version of the dependency tested with this package.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="Optional" type="wxs:YesNoTypeUnion">
        <xs:annotation>
          <xs:documentation>Indicates whether the dependency is optional (yes) or required (no).</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="Publisher" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Publisher of the MSIX package to depend upon.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="Version" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Version of the MSIX package to depend upon.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="Tile">
    <xs:annotation>
      <xs:documentation>
        Additional configuration and overrides for an Application's tile when a Shortcut element does not provide enough control.
      </xs:documentation>
    </xs:annotation>

    <xs:complexType>
      <xs:attribute name="AppListIconSource" type="xs:string">
        <xs:annotation>
          <xs:documentation>Optional path to an image for app list icon (44x44).</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="BackgroundColor" type="xs:string">
        <xs:annotation>
          <xs:documentation>Optional background color for the tile.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="LargeLogoSource" type="xs:string">
        <xs:annotation>
          <xs:documentation>Optional path to an image for large (310x310) tile logo.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="MediumLogoSource" type="xs:string">
        <xs:annotation>
          <xs:documentation>Optional path to an image for medium (150x150) tile logo.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="ShortDisplayName" type="xs:string">
        <xs:annotation>
          <xs:documentation>Optional short display name of the application to be displayed on the Application's tile. Max length is 40 characters.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="ShowNameOnTiles" type="xs:string">
        <xs:annotation>
          <xs:documentation> Whitespace-delimited list of tile sizes. Valid values are: medium, large, wide.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="SmallLogoSource" type="xs:string">
        <xs:annotation>
          <xs:documentation>Optional path to an image for small (71x71) tile logo.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="SplashScreenBackgroundColor" type="xs:string">
        <xs:annotation>
          <xs:documentation>Optional background color for splash screen. The SplashScreenImageSource attribute must also be specified when using this attribute.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="SplashScreenImageSource" type="xs:string">
        <xs:annotation>
          <xs:documentation>Optional path to an image for splash screen (620x200).</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="WideLogoSource" type="xs:string">
        <xs:annotation>
          <xs:documentation>Optional path to an image for wide (310x150) tile logo.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="DesktopAppMigration">
    <xs:annotation>
      <xs:documentation>
        Defines a desktop app migration.
      </xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="File" />
      </xs:appinfo>
    </xs:annotation>

    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other" processContents="lax">
          <xs:annotation>
            <xs:documentation>
              Extensibility point for extension elements.
            </xs:documentation>
          </xs:annotation>
        </xs:any>
      </xs:choice>

      <xs:attribute name="AcquisitionUri" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identifies the URI that a tile or pin will be migrated to.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="AumId" type="xs:string">
        <xs:annotation>
          <xs:documentation>The AUMID (application user model id) of the desktop app. Required if ShortcutPath attribute is not present.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="ShortcutPath" type="xs:string">
        <xs:annotation>
          <xs:documentation>Relative path to the shortcut to migrate from. Required if AumId attribute is not present.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="AppUriHandler">
    <xs:annotation>
      <xs:documentation>
        Defines a URI handler.
      </xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="File" />
      </xs:appinfo>
    </xs:annotation>

    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="1000">
        <xs:any namespace="##other" processContents="lax">
          <xs:annotation>
            <xs:documentation>
              Extensibility point for extension elements.
            </xs:documentation>
          </xs:annotation>
        </xs:any>
      </xs:choice>

      <xs:attribute name="HostName" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The host name that should instead launch the app.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="Parameters" type="xs:string">
        <xs:annotation>
          <xs:documentation>Command-line arguments used when launching the app from a URI.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="OutOfProcessServer">
    <xs:annotation>
      <xs:documentation>
        Defines an out-of-process activatable class server.
      </xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="File" />
      </xs:appinfo>
    </xs:annotation>

    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ActivatableClass" minOccurs="1" />
      </xs:choice>

      <xs:attribute name="Arguments" type="xs:string">
        <xs:annotation>
          <xs:documentation>Command-line arguments for server process.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="Instancing" type="InstancingTypeUnion" use="required">
        <xs:annotation>
          <xs:documentation>Instancing model for server process: singleInstance or multipleInstances.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="ServerName" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Name of server.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="ActivatableClass">
    <xs:annotation>
      <xs:documentation>
        Defines an activatable class.
      </xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="File" />
        <xse:parent namespace="http://www.firegiant.com/schemas/v4/wxs/heatwave/buildtools/msix" ref="OutOfProcessServer" />
      </xs:appinfo>
    </xs:annotation>

    <xs:complexType>
      <xs:attribute name="Id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Activatable class id.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="ThreadingModel" type="ThreadingModelTypeUnion">
        <xs:annotation>
          <xs:documentation>Threading model for in-process server: STA, MTA, or Both. Required for in-process activatable class. Prohibited for out-of-process activatable class.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="AppPrinter">
    <xs:annotation>
      <xs:documentation>
        Defines an application printer.
      </xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="File" />
      </xs:appinfo>
    </xs:annotation>

    <xs:complexType>
      <xs:attribute name="DisplayName" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The name for the printer queue.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="Parameters" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The file to print.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="AppService">
    <xs:annotation>
      <xs:documentation>
        Defines an application contracts as a way for an app to invoke a background task belonging to another app; or for a background task invoked to service an app contract a way to communicate with its caller.
      </xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="File" />
      </xs:appinfo>
    </xs:annotation>

    <xs:complexType>
      <xs:attribute name="EntryPoint" type="xs:string">
        <xs:annotation>
          <xs:documentation>Entry point in application.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="Name" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>The service name (used to match the caller of the Application Contract with the provider).</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="ServerName" type="xs:string">
        <xs:annotation>
          <xs:documentation>The COM server to be instantiated to satisfy the contract activation (ensures that only one instance of the server exists at runtime). This is an optional attribute that is only used for PPLE host processes.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="SupportsMultipleInstances" type="wxs:YesNoTypeUnion">
        <xs:annotation>
          <xs:documentation>Supports multiple, separate instances of an app service.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="BackgroundTask">
    <xs:annotation>
      <xs:documentation>
        Defines an out of process background task.
      </xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="File" />
      </xs:appinfo>
    </xs:annotation>

    <xs:complexType>
      <xs:attribute name="EntryPoint" type="xs:string">
        <xs:annotation>
          <xs:documentation>Entry point in application.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="ServerName" type="xs:string">
        <xs:annotation>
          <xs:documentation>Name of server.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="Tasks" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>
            Whitespace-delimited list of background task types. Valid values are:
            audio,
            bluetooth,
            chatMessageNotification,
            controlChannel,
            deviceConnectionChange,
            deviceServicing,
            deviceUse,
            general,
            location,
            mediaProcessing,
            phoneCall,
            pushNotification,
            systemEvent,
            timer,
            vpnClient
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="PreInstalledConfigTask">
    <xs:annotation>
      <xs:documentation>
        Defines a task that runs to configure an application that was installed in the OS image.
      </xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="File" />
      </xs:appinfo>
    </xs:annotation>

    <xs:complexType>
      <xs:attribute name="ActivatableClass" type="xs:string">
        <xs:annotation>
          <xs:documentation>Class to activate in the application.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="PublicRegistry">
    <xs:annotation>
      <xs:documentation>
        Writes a non-virtualized registry key to the machine from the MSIX package.
      </xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="Package" />
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="Fragment" />
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="Module" />
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="Component" />
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="ComponentGroup" />
      </xs:appinfo>
    </xs:annotation>

    <xs:complexType>
      <xs:attribute name="Id" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Identity of the RegistryKey or RegistryValue element to reference.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="WriteRegistry">
    <xs:annotation>
      <xs:documentation>
        Writes a registry key to the package.
      </xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="Package" />
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="Fragment" />
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="Module" />
      </xs:appinfo>
    </xs:annotation>

    <xs:complexType>
      <xs:attribute name="Id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Optional key to identify the registry value. If not specified, the id will be generated with a stable value based on the root, key, and name values.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Key" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Identity of the RegistryKey or RegistryValue element.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Name" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The localizable registry value name. If this attribute is not provided the default value for the registry key will
            be set instead.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Root" use="required">
        <xs:annotation>
          <xs:documentation>Root key for the registry value.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="HKCR">
              <xs:annotation>
                <xs:documentation>
                  HKEY_CLASSES_ROOT
                </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HKCU">
              <xs:annotation>
                <xs:documentation>
                  HKEY_CURRENT_USER
                </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HKLM">
              <xs:annotation>
                <xs:documentation>
                  HKEY_LOCAL_MACHINE
                </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HKU">
              <xs:annotation>
                <xs:documentation>
                  HKEY_USERS
                </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Type" use="required">
        <xs:annotation>
          <xs:documentation>
            Set this attribute to the type of the desired registry key.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="string">
              <xs:annotation>
                <xs:documentation>
                  The value is interpreted and stored as a string (REG_SZ).
                </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="integer">
              <xs:annotation>
                <xs:documentation>
                  The value is interpreted and stored as an integer (REG_DWORD).
                </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="expandable">
              <xs:annotation>
                <xs:documentation>
                  The value is interpreted and stored as an expandable string (REG_EXPAND_SZ).
                </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Value" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Set this attribute to the localizable registry value.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="UpdateTask">
    <xs:annotation>
      <xs:documentation>
        Defines a task that runs at update.
      </xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="File" />
      </xs:appinfo>
    </xs:annotation>

    <xs:complexType>
      <xs:attribute name="ActivatableClass" type="xs:string">
        <xs:annotation>
          <xs:documentation>Class to activate in the application.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="StartupTask">
    <xs:annotation>
      <xs:documentation>
        Defines a startup task for the package.
      </xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="File" />
      </xs:appinfo>
    </xs:annotation>

    <xs:complexType>
      <xs:attribute name="DisplayName" type="xs:string">
        <xs:annotation>
          <xs:documentation>The optional display name for the task.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="Enabled" type="wxs:YesNoTypeUnion">
        <xs:annotation>
          <xs:documentation>
            Indicates whether the task starts enabled or disabled. Enabled tasks run the next time the user logs on, unless the user disables them.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="TaskId" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>A unique identifier for the task.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="FullTrustProcess">
    <xs:annotation>
      <xs:documentation>
        Declares an executable file as capable of being launched with full trust from a UWP app.
      </xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="File" />
      </xs:appinfo>
    </xs:annotation>

    <xs:complexType>
      <xs:attribute name="GroupId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Id of parameter group.</xs:documentation>
        </xs:annotation>
      </xs:attribute>

      <xs:attribute name="Parameters" type="xs:string">
        <xs:annotation>
          <xs:documentation>Parameters that will be passed to the full-trust process.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:attribute name="LoaderSearchPathEntry">
    <xs:annotation>
      <xs:documentation>Allows you to add the directory to the loader search path for the package.</xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="Directory" />
      </xs:appinfo>
    </xs:annotation>
  </xs:attribute>

  <xs:attribute name="Application">
    <xs:annotation>
      <xs:documentation>Allows you to specify the MSIX Application identitiy for an executable.</xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="File" />
      </xs:appinfo>
    </xs:annotation>
  </xs:attribute>

  <xs:attribute name="ApplicationRef">
    <xs:annotation>
      <xs:documentation>Allows you to specify the file should contribute to an existing MSIX Application by identity.</xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="File" />
      </xs:appinfo>
    </xs:annotation>
  </xs:attribute>

  <xs:attribute name="ExternalApplicationRef">
    <xs:annotation>
      <xs:documentation>Allows you to specify the file should contribute to an existing MSIX Application by identity that is not part of this package.</xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="File" />
      </xs:appinfo>
    </xs:annotation>
  </xs:attribute>

  <xs:attribute name="SuppressApplication">
    <xs:annotation>
      <xs:documentation>Allows you to specify the executable should not be published as an Application in the MSIX package.</xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="File" />
      </xs:appinfo>
    </xs:annotation>
  </xs:attribute>

  <xs:attribute name="SuppressPackagedCom">
    <xs:annotation>
      <xs:documentation>Allows you to specify the executable should not publish any of its COM registration to MSIX Packaged COM.</xs:documentation>
      <xs:appinfo>
        <xse:parent namespace="http://wixtoolset.org/schemas/v4/wxs" ref="File" />
      </xs:appinfo>
    </xs:annotation>
  </xs:attribute>

  <xs:simpleType name="PreprocessorVariables">
    <xs:annotation>
      <xs:documentation>A type that represents that 1 or more preprocessor variables (as they appear in sources on disk, before preprocessor has run).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(\$\(\w+\.(\w|[.])+\))+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TargetTypeUnion">
    <xs:annotation>
      <xs:documentation>Values of this type will either be "desktop" or "server".</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="TargetType PreprocessorVariables"/>
  </xs:simpleType>
  <xs:simpleType name="TargetType">
    <xs:annotation>
      <xs:documentation>Values of this type will either be "desktop" or "server".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="desktop" />
      <xs:enumeration value="server" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OsVersionUnion">
    <xs:annotation>
      <xs:documentation>Values of this type will either be a version or well-known version name.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="WellKnownVersionType OsVersionType PreprocessorVariables"/>
  </xs:simpleType>
  <xs:simpleType name="OsVersionType">
    <xs:annotation>
      <xs:documentation>A type that represents the version of the OS.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(\d{1,5}\.){1,3}\d{1,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="WellKnownVersionType">
    <xs:annotation>
      <xs:documentation>Values of this type will either be "anniversaryUpdate", "creatorsUpdate" or "fallCreatorsUpdate".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="anniversaryUpdate" />
      <xs:enumeration value="rs1" />
      <xs:enumeration value="creatorsUpdate" />
      <xs:enumeration value="rs2" />
      <xs:enumeration value="fallCreatorsUpdate" />
      <xs:enumeration value="rs3" />
      <xs:enumeration value="april2018Update" />
      <xs:enumeration value="rs4" />
      <xs:enumeration value="october2018Update" />
      <xs:enumeration value="rs5" />
      <xs:enumeration value="may2019Update" />
      <xs:enumeration value="19H1" />
      <xs:enumeration value="november2019Update" />
      <xs:enumeration value="19H2" />
      <xs:enumeration value="may2020Update" />
      <xs:enumeration value="20H1" />
      <xs:enumeration value="october2020Update" />
      <xs:enumeration value="20H2" />
      <xs:enumeration value="may2021Update" />
      <xs:enumeration value="win1021H1" />
      <xs:enumeration value="november2021Update" />
      <xs:enumeration value="win1021H2" />
      <xs:enumeration value="2022Update" />
      <xs:enumeration value="win1022H2" />
      <xs:enumeration value="sunValley" />
      <xs:enumeration value="win1121H2" />
      <xs:enumeration value="sunValley2" />
      <xs:enumeration value="win1122H2" />
      <xs:enumeration value="sunValley3" />
      <xs:enumeration value="win1123H1" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="InstancingTypeUnion">
    <xs:annotation>
      <xs:documentation>Values of this type will either be "singleInstance" or "multipleInstances".</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="InstancingType PreprocessorVariables"/>
  </xs:simpleType>
  <xs:simpleType name="InstancingType">
    <xs:annotation>
      <xs:documentation>Values of this type will either be "singleInstance" or "multipleInstances".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="singleInstance" />
      <xs:enumeration value="multipleInstances" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ThreadingModelTypeUnion">
    <xs:annotation>
      <xs:documentation>Values of this type will be "STA", "MTA", or "Both".</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="ThreadingModelType PreprocessorVariables"/>
  </xs:simpleType>
  <xs:simpleType name="ThreadingModelType">
    <xs:annotation>
      <xs:documentation>Values of this type will be "STA", "MTA", or "Both".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="STA" />
      <xs:enumeration value="MTA" />
      <xs:enumeration value="Both" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
